@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
text-align: center;
background-color: #38598b;
}
p{
    border: 2px solid black;
    border-radius: 30px;
    background-color: #a2a8d3;
    margin-left: 50px;
    margin-right: 40px;
    transition: 0.4s;
}
.font1{
    font-family: 'Black Ops One', cursive;
}
p:hover{
    font-size: 25px;
}
.font2{
    
   
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
.font3{
    font-family: 'Tulpen One', cursive;
    font-size: 20px;
}
.font4{
    font-family: 'Bebas Neue', sans-serif;
}
.font5{
    font-family: 'Roboto', sans-serif;
}